.page-show{
  padding-left:10% ;
  padding-right:10% ;
}
.page-nav-t{
  background-color: #BEBEBE;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
}
.lr-menu{
  margin-left: 5px;
  margin-right: 5px;
}
