a{
  font-family: 'Josefin Sans', sans-ser !important;
}
P{
  font-family: 'Josefin Sans', sans-ser !important;
}
label{
  font-family: 'Josefin Sans', sans-ser !important;
}
h1{
  font-family: 'Josefin Sans', sans-ser !important;
}
h2{
  font-family: 'Josefin Sans', sans-ser !important;
}
h3{
  font-family: 'Josefin Sans', sans-ser !important;
}
h4{
  font-family: 'Josefin Sans', sans-ser !important;
}
h5{
  font-family: 'Josefin Sans', sans-ser !important;
}
h6{
  font-family: 'Josefin Sans', sans-ser !important;
}
small{
  font-family: 'Josefin Sans', sans-ser !important;
}
body{
  font-family: 'Josefin Sans', sans-ser !important;
}
.fs-45{
  font-size: 45px;
}
